.banner {
  background-image: url(../images/perfume-banner.jpg);
  background-size: cover;
  background-position: center top;
  height: 870px;
  @include pad {
    background-position: 20% 10%;
    height: 480px;
  }
  .container {
    height: 100%;
    color: $light;
    h2 {
      font-size: $h1-font-size;
      line-height: 60px;
      font-weight: bold;
      @include mobile {
        font-size: $h2-font-size;
        line-height: 48px;
      }
    }
    p {
      font-size: $h3-font-size;
      line-height: 36px;
      @include mobile {
        font-size: $h4-font-size;
        line-height: 30px;
      }
    }
  }
}
.description {
  color: $dark;
  @include pad {
    margin-left: 0;
    margin-right: 0;
  }
  h3 {
    font-weight: bold;
    line-height: 48px;
  }
  h4 {
    line-height: 36px;
  }
  p {
    font-size: $h4-font-size;
    line-height: 30px;
  }
  img {
    width: 100%;
  }
  .description-content {
    font-size: $h5-font-size;
    line-height: 24px;
  }
}
.productInfo {
  background-color: $success;
  a {
    display: block;
    transition: all 0.3s;
  }
  img {
    @include size(100%, 540px);
    margin-bottom: 8px;
    @include pc-pad {
      @include size(100%, auto);
    }
    @include pad {
      @include size(100%, auto);
    }
  }
  h4 {
    font-size: $h5-font-size;
    line-height: 24px;
    margin-bottom: 16px;
  }
  p {
    line-height: 24px;
  }
  span {
    color: $secondary;
  }
  .sold {
    //修改設計稿內容，改為製作滑到第三張圖片，出現Sold out字樣
    //但在平板要點擊才會出現Sold out字樣
    a {
      position: relative;
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $light;
        font-weight: bold;
        opacity: 0;
      }
      &:hover {
        img {
          // filter CSS屬性將模糊或顏色偏移等圖形效果應用於元素
          // brightness()
          // 給圖片應用一種線性乘法，使其看起來更亮或更暗。如果值是0%，圖像會全黑。值是100%，則圖像無變化。其他的值對應線性乘數效果。值超過100%也是可以的，圖像會比原來更亮。如果沒有設定值，默認是1。
          filter: brightness(0.7);
        }
        h3 {
          opacity: 1;
        }
      }
    }
  }
  // .transparent {
  //     // filter CSS屬性將模糊或顏色偏移等圖形效果應用於元素
  //     // brightness()
  //     // 給圖片應用一種線性乘法，使其看起來更亮或更暗。如果值是0%，圖像會全黑。值是100%，則圖像無變化。其他的值對應線性乘數效果。值超過100%也是可以的，圖像會比原來更亮。如果沒有設定值，默認是1。
  //     filter: brightness(0.7);
  // }
}
.introduction {
  h2 {
    line-height: 48px;
  }
  h4 {
    line-height: 30px;
  }
  p {
    line-height: 24px;
  }
}
.subscribe {
  background-image: url(../images/index09.jpg);
  background-size: cover;
  background-position: center center;
  height: 600px;
  h2 {
    color: $secondary;
    font-weight: bold;
    line-height: 48px;
  }
}
